<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [4]:
nama = "Ros Diana"

print ("Hallo, My Name is" + nama)
print ("Hallo, my name is", nama)

# Hello, my name is Michelle
# Hello, my name is Michelle
# Hello, my name is Michelle
# Hello, my name is Michelle

Hallo, My Name isRos Diana
Hallo, my name is Ros Diana

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [11]:
# a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, 
# setiap teman akan mendapat ... kelereng.

empatkotakkelereng= 60
orang = 12

print ("Setiap teman akan mendapat", empatkotakkelereng // orang ,"kelereng")

# b.  Hasil dari 8 pangkat 1/3 adalah



# c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 
# 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat 
# ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

uang = 50000
hargajual = 7500

jumlahpaket = uang // hargajual
pembelian = jumlahpaket * hargajual 


print ("jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya", jumlahpaket ,"paket")
print ("Pengembalian yang di terima Eillen sebesar", uang - pembelian ,"Rupiah")

setiap teman akan mendapat 5 kelereng
jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya 6 paket
Pengembalian yang di terima Eillen sebesar 5000 Rupiah

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [17]:
class_string = "1000"
class_int1 = int(class_string)

print (class_int1, "<class 'int'>")

class_float = 5.25
class_int2 = int(class_float)

print (class_int2, "<class 'int'>")

class_int3 = 5
class_float1 = float(class_int3)

print (class_float1, "<class 'float'>")


class_int4 = 1000
class_str = str(class_int4)

print (class_str, "<class 'str'>")

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [21]:
kalimat = "If you want to know what a man's like, take a good look at how he treats his inferiors,not his equals."
# 1
substring = kalimat[20:30]
print (substring)

# 2
list = kalimat.split(" ")
print(list)

# 3
terbalik= kalimat[::-1]
print (terbalik)

# what a man'
# ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
# .slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

what a man
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,not', 'his', 'equals.']
.slauqe sih ton,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [24]:
fakultas = "SBM","SCI","SoT","SIFT","SoP","SoC","SoM"
print (fakultas)

panjang= len(fakultas)
print (panjang)

indek_fakultas = fakultas.index("SIFT")
print(indek_fakultas)

('SBM', 'SCI', 'SoT', 'SIFT', 'SoP', 'SoC', 'SoM')
7
3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [32]:
favorit = "Mie goreng","nasi goreng","kwetiau"

for makanan in favorit: print (makanan)

for menu in favorit:
    print ("Aku ingin pesan", menu)

if "Sushi" in favorit:
    sushi_index = favorit.index("nasi goreng") 
    favorit[sushi_index] = "Ayam Penyet" 
print (favorit)

Mie goreng
nasi goreng
kwetiau
Aku ingin pesan Mie goreng
Aku ingin pesan nasi goreng
Aku ingin pesan kwetiau
('Mie goreng', 'nasi goreng', 'kwetiau')

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [36]:
set1 = {1,2,3,4}
set2 = {2,4,6,8}
set3 = {5,7}
set4 = {2,3}

gabungan = set1.union(set2)
print (gabungan)

intersection = set1.isdisjoint(set3)
print(intersection)

bolean = set4.issubset(set1)
print(bolean)

# {1, 2, 3, 4, 6, 8}
# True
# True

{1, 2, 3, 4, 6, 8}
True
True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [5]:
cutomer = int(input("Input: "))

if cutomer < 100:
    cutomer = 100
    trif = cutomer * 1000
elif cutomer < 1000:
    trif = cutomer * 1000
else:
    trif = cutomer * 2000
    trif += trif * 0.10

print (trif)

# Masukkan jumlah penggunaan listrik (kWh): 1500
# Tarif yang harus dibayar: Rp 3300000.0

100000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [8]:
Kapasitas = 10


Peserta = int(input("Jumlah Peserta: "))

if Peserta < 0:
    print ("Jumlah orang tidak bisa negatif!")
else: angkot = 0
angkot = (Peserta + Kapasitas -1)// Kapasitas
print(angkot)

Jumlah orang tidak bisa negatif!
0

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [10]:
# 1
import numpy as np
hari = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])
print (hari)

['Senin' 'Selasa' 'Rabu' 'Kamis' 'Jumat' 'Sabtu' 'Minggu']

In [12]:
# 2
urut = np.sort(hari)
print(urut)

['Jumat' 'Kamis' 'Minggu' 'Rabu' 'Sabtu' 'Selasa' 'Senin']

In [14]:
import random
# 3
acak = random.choice(hari)
print("Selamat hari", acak ,"adalah hari baikmu bulan ini!")

Selamat hari Rabu adalah hari baikmu bulan ini!

In [17]:
# 4
# Membuat matriks 3x4 dengan angka 1-6
matriks = np.array([[1,2,3,4,5,6]])
print("Shape matriks:", matriks.shape)
print("Dimensi matriks:", matriks.ndim)

# Shape: (3, 2)
# Dimensi: 2

Shape matriks: (1, 6)
Dimensi matriks: 2

In [18]:
# 5

matriks1 = np.array([[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]])

row = matriks1[:,2]
print (row)

[ 3  7 11]

In [20]:
# 6
reshape = matriks1.reshape(2, 6)

# Cetak matriks yang sudah di-reshape
print("Matriks setelah di-reshape menjadi (2, 6):")
print(reshape)

Matriks setelah di-reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [21]:
import pandas as pd

# 1
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)
print("Pandas Series:")
print(series)
print()
# 2
data_dict = {
    "brand": ["Ford"], 
    "model": ["Mustang"], 
    "year": [1964]
}
df = pd.DataFrame(data_dict)

print("Pandas DataFrame:")
print(df)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object

Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [22]:
# 3
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls'
df = pd.read_csv(url)

In [23]:
# 4
print("Kota yang ada dalam dataset:")
print(df['State'].unique())

Kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [24]:
# 5
df_random = df.sample(n=10, random_state=1)
print("\n10 row random dari dataset:")
print(df_random.head())

10 row random dari dataset:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [25]:
# 6
print("\nInformasi DataFrame:")
df.info()

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [27]:
# 7
df_california = df[df['State'] == 'California']
print("\nData 'R&D Spend' dan 'Marketing Spend' dari kota 'California':")
print(df_california[['R&D Spend', 'Marketing Spend']])

Data 'R&D Spend' dan 'Marketing Spend' dari kota 'California':
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [28]:
# 8
print("\nMissing values per kolom:")
print(df.isnull().sum())

Missing values per kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [29]:
# 9
df_filtered = df[df['Profit'] >= 50000]
print("\nData setelah menghapus row dengan profit di bawah 50000:")
print(df_filtered)

Data setelah menghapus row dengan profit di bawah 50000:
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [30]:
# 10
df_sorted = df.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame diurutkan berdasarkan biaya marketing (terbesar ke terkecil):")
print(df_sorted)

DataFrame diurutkan berdasarkan biaya marketing (terbesar ke terkecil):
    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [31]:
# 1
import pandas as pd

# Import dataset
url = 'https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv'
df = pd.read_csv(url)

In [36]:
# 2
print(df.sample(10))

      No  X1 transaction date  X2 house age  \
386  387             2012.833           0.0
123  124             2013.417           0.0
230  231             2013.500           4.0
158  159             2013.000          11.6
115  116             2013.083          20.6
246  247             2013.417          16.4
281  282             2013.333           4.7
317  318             2012.750          15.6
239  240             2013.500          18.1
381  382             2013.417           8.0

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
386                                185.4296                                0
123                                185.4296                                0
230                               2147.3760                                3
158                                390.5684                                5
115                                737.9161                                2
246                                389.8219                                6
281                                387.7721                                9
317                                752.7669                                2
239                                837.7233                                0
381                                132.5469                                9

     X5 latitude  X6 longitude  Y house price of unit area
386     24.97110     121.53170                        55.3
123     24.97110     121.53170                        45.5
230     24.96299     121.51284                        33.4
158     24.97937     121.54245                        39.4
115     24.98092     121.54739                        46.4
246     24.96412     121.54273                        40.6
281     24.98118     121.53788                        44.8
317     24.97795     121.53451                        37.5
239     24.96334     121.54767                        29.7
381     24.98298     121.53981                        47.3

In [37]:
# 3
print(df.describe())

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [38]:
# 4
df = df.drop(columns=['No'])

df.columns = ['transaction date', 'house age', 'distance to the nearest MRT station',
              'number of convenience stores', 'latitude', 'longitude',
              'house price of unit area']

In [39]:
# 5
print(df.isnull().sum())

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**